<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header")%>
  <body>
    <%- include("partials/navbar")%>

    <div class="hero-section">
      <h1><%= title %></h1>
      <p>Hello <%= user%></p>
      <h1 id="home">Experience the Future Now</h1>

      <p>
        Your journey to something amazing starts right here.
        <br />
        Dive into cutting-edge features and seamless performance.
      </p>

      <a href="#signup" class="cta-button">Join the Revolution</a>
    </div>
  </body>
</html>
